.home{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}
.homebody{
  display:flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width:90vw;
}

.rooms{
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.chat{
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.roomsheader{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.roomsheaderright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.roomssearch {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}

.roomssearchcontainer{
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

#searchicon{
  color: grey;
  padding: 10px;
}

#searchinput{
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.roomchat{
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.roomchat:hover {
  background-color: #ebebeb;
}

.roomschat {
  flex: 1;
  background-color: white;
  overflow: scroll;
}

#roomchath2{
  font-size: 16px;
  margin-bottom: 8px;
}

.roomchatinfo{
  margin-left: 15px;
}